@charset "utf-8";

html {
    overflow-y: scroll;
}
body{
    margin: auto;
    padding: 10px;
/*  overflow: hidden; 
    border-width: 2px;
    border-color: red;
    border-style: solid;  
    overflow: auto; */
}
.top{
    width: 1200px;
    height: 79px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    width: 1280px;
    flex-flow: wrap;
    border-bottom: solid 2px red;
    margin: auto;
    align-items: center;
    height: 146px;
}
.input > form {
	width: 550px;
	height: 79px;
	position: relative;
}
 .input > form > input[type="search"]{
    all: unset ;
    width: 450px;
    height: 40px;
    border-radius: 28px;
    padding: 0px 0px 0px 20px;
    border: solid 1px rgb(183,183,183);
    font-size: 15px;
    margin: 16px;
}
.input > form > button  {
	width: 35px;
    height: 48px;
    border: 0;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 68%;
    margin: 0px -70px;
    background-position-y: 19px;
    position: absolute;
    top: 5px;
    background-color: transparent
}
nav{
    width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul{
    list-style: none;
    text-decoration: none;
}
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
nav > ul > li{
    display: block;
    width: 131px;
    text-align: center;
    color: black;
    text-decoration: none;
}
#cate{
    z-index: 2;       
    width: 149px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 52px;
    position: relative;    
    background-color: red;
    border-width: 1px;
    border-color: red;
    border-style: solid;

    border-radius: 177px 532px 0px 8px;         
}

#overlay {
	display: none;
    position: absolute; 
    width: 100%;
    height: 650%; 
    inset: 158px 0px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.allmenu{
    position: relative;     
    width: 1200px;
    background-color: white;
    box-sizing: border-box;
/*     display: none; */
    border-width: 1px;
    border-top: 1px solid rgb(223, 0, 17);
    border-radius: 5px;
    border-style: solid;
    z-index: 4;
     height: 600px;
}
.allmenu > .left{
    position: relative;
    height: 700px;
    display: flex;
    flex-flow: wrap;  
    color: black;
    padding-left: 20px;
/*     overflow-y: scroll; */
}

.left::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: skyblue;
}
.left > ul {
	padding: 0;
}
.left > ul > li {
	height: 45px;
	padding-right: 65px;
	font-size: 15px;
	text-align: left;
}

.left > ul > li:hover > a {
	color: rgb(223, 0, 17);
	display: block;
}
.left {
	position: relative;
}
.left > ul > li:hover > a > .allmenu2 > ul{
	position: absolute;
	top: 0;
}
.left > ul > li:hover > a > .arrow {
	display: block;
}
.allmenu2  li:hover > a {
	color: rgb(223, 0, 17);
}
.allmenu2  li:hover > a > .arrow {
	display: block;
}
.allmenu3> ul > li > a:hover {
	color: rgb(223, 0, 17);
}	
.left > ul > li > a{
	color: #666666;
}

#cate > a{
    color: white;
}
.top > .right{
    margin-right: 30px;
}
.top > .right > a{
    margin-right: 15px;
}
nav > ul > #cate > .allmenu{
    display: none;
}
.allmenu2{
	position: absolute;
	top: 0;
    width: 300px;
    left: 321px;
    margin-top: 0px;
    flex-flow: wrap;  
    color: black;
}
.allmenu2 > ul {
    padding: 0px 20px;
    display: none;
}
.left > ul > li:hover  .allmenu2 > ul{
	display: block;
}
.allmenu2 > ul > li{
    height: 37px;
	text-align: left;
}
.allmenu2 > ul > li> a {
	color: #666666;
	font-size: 15px;
	
}
.allmenu2 > ul > li:hover .allmenu3 > ul{
	display: block;
}

.allmenu3{
    width: 300px;
	position: absolute;
	top: 0;
	left: 280px;
    flex-flow: wrap;
}
.left > ul > li:hover > .allmenu2,
.allmenu2 > ul > li:hover > .allmenu3 {
	height: 600px;
}
.allmenu3 > ul {
	position: absolute;
	top: 0;
	width: 100%;
    padding: 0px 20px;	
    display: none;
}
.allmenu3 > ul > li{
    height: 37px;
	text-align: left;
}
.allmenu3 > ul > li > a{
	color: #666666;
	font-size: 15px;
}
.right {
    display: flex;
    width: 180px;
    height: 60px;
    padding: 0;
    margin-top: 20px;
    justify-content: space-between;     
}
.member_img {
    position: relative;
}
.member_img > ul > li{
    display: none;
    list-style: none;   
}
.member_img:hover > ul > li{
    display: block;
    list-style: none;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    padding: 6px 15px;
    background-color: #FFFFFF;
}
.member_img > ul > li:hover > a{
    color: red;
}

.member_img > ul > li:hover {
    background-color:rgb(249, 250, 251);
}
.member_img:hover > ul {
    margin-top: 20px;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: -35px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    width: 110px;
    align-items: center;
}
.slider > div {
    box-sizing: border-box;
}
.slider{
    text-align: center;
    width: 1200px;
    margin-left: 1200px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
}
.main_list_nav {
	width: 1200px;
	position: sticky;
	background-color: white;
	margin: auto;
	z-index: 0;
}
.main_list_nav > ul > li {
	padding: 10px;
	cursor: pointer;
}
.main_list_liselected {
	font-weight: bold;
	color: red;
	border-bottom: 2px solid red;
}
.mainImg_wrap {
    display: flex;
    width: 6000px;
}
.mainImg {
    width: 1200px;
    height: 500px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.slider_menu {
    width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 210px;
    padding: 0 20px;
}
.slider_menu img {
    cursor: pointer;
}
.main_cate {
    border: none;
    border-bottom: 2px solid red;
    color: red;
}
.list {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.product {
    margin: 30px 24px 30px 0;
}
.productImg {
    overflow: hidden;
}
.productImg > a > img {
    width: 374px;
    height: 374px;
    transition-duration: 0.3s;
}
.productImg > a > img:hover {
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.productTitle {
    color: rgb(51, 51, 51);
    width: 374px;
    height: 44px;
    line-height: 1.47;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}
.priceWrap {
    width: 374px;
    box-sizing: border-box;
    font-size: 12px;
}
.productOrgPrice {
    display: block;
    height: 17px;
    margin: 6px 0px 7px;
    color: rgb(153, 153, 153);
    text-decoration: line-through;
    font-size: 15px;
}
.productPrice {
    display: inline-block;
}
.countDC {
    margin: 7px 5px 10px 0px;
    font-size: 27px;
    font-weight: 600;
    line-height: 0.59;
    letter-spacing: -0.68px;
    color: rgb(254, 6, 5);
}
.productPrice > strong {
    font-size: 27px;
    line-height: 26px;
}
.priceQty {
    display: inline-block;
    padding: 10px 0px 0px 6px;
    vertical-align: top;
    color: rgb(102, 102, 102);
}
.productScore {
    margin-top: 11px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 18px
}
.productScore > span > img {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
    width: 15px;
    height: 15px;
}
footer {
    width: 1200px;
    margin: auto;
}
.footer_line {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
}
.footer_line_left > ul > li > a {
    text-decoration: none;
    color: inherit;
}
.footer_line_left > ul  {
    list-style: none;
    display: flex;
    align-items: center;
}
.footer_line_left > ul > li  {
    display: inline-block;
    width: 100px;
    margin: 0 20px;
    font-size: 12px;
}
.footer_line_right {
    width: 180px;
    margin-right: 30px;
    margin-top: 15px;
    position: relative;
}
.footer_line_right > a {
    position: absolute;
    width: 80px;
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 12px;   
}
.footer_line_right > a > img {
    display: block;
    position: absolute;
    top: -3px;
    left: -24px;
    width: 18px;
    height: 20px;
}
.footer_content {
    margin: 0 150px;
    display: flex;
}
.footer_content_left {
    width: 800px;
}
.footer_content_left > h2 {
    padding: 29px 0px 9px;
    color: rgb(51, 51, 51);
    font-size: 18px;
}
.footer_content_left > div:nth-child(1) {
    display: flex;
}
.footer_content_left > p {
    width: 700px;
    color: #999999;
    font-size: 12px;
}
.footer_content_left_item {
    display: flex;
    flex-flow: wrap;
    width: 700px;
    margin-bottom: -15px;
}
.footer_content_left_item > p {
    width: 700px;
    padding-right: 10px;
    color: #666666;
    font-size: 12px;
}
.footer_content_right {
    font-size: 12px;
    width: 250px;
    margin-top: 43px;
    padding-left: 40px;
    border-left: 1px solid rgb(238, 238, 238);
}
.footer_content_right_item > div {
    display: flex;
}
.footer_content_right_item > div > h3 {
    color: #333333;
    font-size: 12px;
}
.footer_content_right_item > div > span {
    color: rgb(89, 120, 147);
    margin: auto 12px;
}
.footer_content_right_item > ul {
    width: 250px;
    list-style: none;
    color: #999999;
    padding: 0;
    margin-top: -5px;
}
.footer_content_right_item > ul > li {
    margin-top: 5px;
}
#remocon {
    position: fixed;
    top: 50%;
    right: 0;
    height: 330px;
    margin-top: -206px;
    z-index: 4500;
}
.remocon_frame {
	    align-self: center;
    padding-top: 30px;
    width: 60x;
    height: 330px;
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 20px;
    background-color: rgb(244, 246, 249);
}
figure {
    margin: 0 0 20px;
    box-sizing: border-box;
}
figure > a > img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 6px;
}
figcaption {
    width: 100%;
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 11px;
    overflow: hidden;
}
#toTop {
    color: rgb(255, 255, 255);
    font-size: 12px;
    background-color: rgb(102, 102, 102);
    border-bottom-left-radius: 16px;
    width: 62px;
    height: 46px;
    border: 0;
    cursor: pointer;
}
.arrow {
	display: none;
    background-image: url(../img/homeplusicon.png);
    background-repeat: no-repeat;
    background-position: -3419px;
    margin-top: -41px;
    margin-left: 245px;
    width: 25px;
    height: 180px;
    overflow: hidden;
}
