@charset "utf-8";

.mypagewrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    color: rgb(51, 51, 51);
}
.mypagewrapper > aside > h2 {
    font-size: 24px;
    margin-bottom: 60px;
}
.mypageLeftWrapper > h3 {
    font-size: 18px;
    margin: 0;
}
.mypageLeftWrapper > ul {
    margin: 0;
}
.mypageLeftWrapper > ul > li {
    margin-top: 20px;
    padding-left: 10px;
    font-size: 14px;
}
aside {
    float: left;
    width: 220px;
    margin-left: 38px;
    margin-right: 40px;
}
aside  ul {
    margin: 10px;
    padding: 0;
}
section {
    width: calc(100% - 260px);
/*     border: 1px dashed blue; */
}
.mypageLeftWrapper {
    padding-bottom: 40px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.userBaseInfo_name {
    width: 50%;
    padding: 15px 20px 0 60px;
}
.userBaseInfo_name > p:first-child {
    display: inline-block;
    margin: 10px auto 0;
    font-size: 18px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.userBaseInfo {
    display: flex;
}
.userBaseInfo_coupon > ul, .orderSummaryBox > ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.userBaseInfo_coupon > ul > li {
    width: 207px;
    height: 100%;
    padding: 7px 0px 0px 30px;
    border-left: 1px solid rgb(238, 238, 238);
    margin-top: 15px;
}
.userBaseInfo_coupon em {
    font-size: 15px;
    color: rgb(153, 153, 153);
    font-style: normal;
}
.userBaseInfo_coupon .couponCnt {
    margin-top: 17px;
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.userBaseInfo_coupon .couponCnt > a {
    font-size: 18px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}
.userTimelineBox {
    margin-top: 30px;
    padding: 40px 30px;
    background: rgb(249, 250, 251);
    width: 880px;
}
.mypageTitleBox {
   display: flex;
   justify-content: space-between;
   position: relative;
   padding: 0 0 18px 0;
}
.mypageTitleBox > .titleArea > h2 {
   display: inline-block;
   margin: 0;
   padding: 0;
   font-size: 24px;
   font-weight: 600;
}
.mypageTitleBox > .titleArea > p {
   display: inline-block;
   margin-left: 5px;
   font-size: 15px;
   color: rgb(153, 153, 153);
}
.mypageTitleBox > .rightArea {
   position: absolute;
   right: 0;
   bottom: 20px;
   font-size: 12px;
}
.orderSummaryBox {
   height: 112px;
   background: rgb(255, 255, 255);
   text-align: center;
   border-radius: 3px;
   box-shadow: rgb(0 0 0 / 3%) 0px 2px 13px 0px;
}
.orderSummaryBox > ul > li {
   width: 20%;
   height: 87px;
   padding: 25px 0px 0px;
}
.orderSummaryBox > ul > li:last-child {
   border-left: 1px solid rgb(238, 238, 238);
}
.orderSummaryBox em {
   display: block;
   margin-bottom: 15px;
   font-size: 14px;
   color: rgb(153, 153, 153);
   font-style: normal;
}
.orderSummaryBox .orderStatus {
   display: inline-block;
   font-size: 28px;
   font-weight: 600;
}
.blue > a {
   color: rgb(0, 145, 255);
}
.red > a {
   color: rgb(223, 0, 17);
}
.grey > a {
   color: rgb(153, 153, 153);
}
.wishListBox {
   width: 880px;
   margin: 40px auto;
   border-bottom: 2px solid rgb(51, 51, 51);
}
.wishListProd {
   width: 880px;
   margin: auto;
}
.wishListProd > ul {
	padding: 0;
	margin: 0;
}
.wishListProd > ul > li {
	width: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.mypageSubtitle > .titleArea > h2 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}
.dateFilter {
    width: 880px;
    padding: 30px;
    border-radius: 3px;
    background-color: rgb(249, 250, 251);
    margin: 10px;
    position: relative;
}
.filterlist, .filterItem {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}
.filterItem > ul {
    display: flex;
}
.filterItem > ul > li {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid rgb(221, 221, 221);
    margin-left: -1px;
    width: 85px;
    height: 36px;
    min-height: 36px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.filterItem > p {
    margin: 0 10px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    line-height: 41px;
}
.filterItem > input {
    width: 180px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}
.filterItem > .inquiry {
    width: 90px;
    height: 36px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.filterItem > .calendar1 {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 9px;
    right: 216px;
}
.filterItem > .calendar2 {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 9px;
    right: 3px;
}
::-webkit-calendar-picker-indicator { /* 달력 아이콘 부분 */
    background-image: url(../img/icon_084.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}
.ordertitleArea {
    display: flex;
}
.ordertitleArea > h2 {
    margin: 0;
}
.ordertitleArea > span, .ordertitleArea > a {
    display: inline-block;
    margin: 14px 0px 0px 12px;
    font-size: 12px;
    color: rgb(102, 102, 102);
    font-weight: normal;
    vertical-align: top;
}
.erasebottom {
    margin-bottom: 0;
}
.claimstatus {
    height: 55px;
    padding: 0px 30px;
    background: rgb(227, 236, 245);
    display: flex;
    align-items: center;
}
.claimstatus > p {
    display: inline-block;
    font-size: 15px;
    color: rgb(89, 120, 147);
    font-weight: 600;
    margin: 0;
}
.claimstatus_icon {
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: -4003px -5px;
    margin: 1px 7px 0px 0px;
}
.orderProductlist {
    display: flex;
}
.orderProductlist_overlay {
    z-index: 2;
    width: 850px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    position: absolute;
    margin-top: -203px;
}
.orderProduct {
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-right: 15px;
}
.orderProduct > a {
    overflow: hidden;
    font-size: 12px;
    color: rgb(51, 51, 51);
    display: block;
}
.orderProductlist img {
    width: 130px;
    height: 130px;
}
.orderProduct > span {
    font-size: 14px;
    font-weight: bold;
}
.stepBox {
    height: 35px;
    border-radius: 35px;
    box-sizing: content-box;
    background: rgb(221, 221, 221);
    display: flex;
    align-items: center;
}
.stepBox > ul {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.stepBox > ul > li {
    width: 212.5px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    border-radius: 36px;
    background: rgb(221, 221, 221);
    color: rgb(255, 255, 255);
}
.stepBox > ul > .stepBoxselected {
    background-color: rgb(223, 0, 17);
    color: rgb(255, 255, 255);
}
.couponlist_header {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(51, 51, 51);
}
.couponlist_sort {
	display: flex;
}
.couponlist_header button {
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 15px;
    padding-right: 15px;
    margin-right: 15px;
    color: rgb(153, 153, 153);
}
.coupon_reg > button {
	text-align: center;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    width: 100px;
    height: 30px;
    font-size: 12px;
}
.mileage_reg > button {
	text-align: center;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    width: 100px;
    height: 30px;
    font-size: 12px;
}
.orders_tablist > ul {
    display: flex;
    width: 880px;
    margin: 50px auto 0;
    padding: 0;
}
.orders_tablist > ul > li {
    width: 170px;
    padding: 0 5px;
    margin-left: -1px;
    font-size: 11.5px;
    color: rgb(102, 102, 102);
    text-align: center;
    background-color: rgb(249, 250, 251);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.orders_tablist .tablistSelected {
    border-top-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    margin-right: 1px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.orders_tablist_content {
    width: 880px;
    margin: 10px auto 20px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: rgb(51, 51, 51);
}
.orders_tablist_content > div {
    display: none;
}
.orders_tablist_content .tablistContentSelected {
    display: block;
}
.deliverystep > ul {
    display: flex;
    width: 880px;
    padding: 0;
    margin: 0;
}
.deliverystep > ul > li {
    width: 220px;
    border: 1px solid rgb(238, 238, 238);
    padding: 30px 10px;
}
.deliverystep .iconBox > img {
    width: 60px;
    height: 60px;
    margin: 0 auto 19px;
}
.deliverystep .iconBox > strong {
    display: block;
    font-size: 16px;
}
.deliverystep .iconBox > p {
    margin-top: 9px;
    line-height: 1.35;
}
.addProduct {
	width: 880px;
    align-items: center;
}
.infoItem {
	display: flex;
}
.infoItem > .addProduct_content > ul {
	display: block;
	width: calc(100% - 160px);
    padding: 22px 20px 18px;
    text-align: left;
}
.infoItem > .addProduct_title {
	width: 160px;
/*     background: rgb(249, 250, 251); */
    font-size: 13px;
    font-weight: bold;
    padding: 20px;
    margin: auto 0;
}
.orders_tablist_content > .exchangestep,
.orders_tablist_content > .receiptInfo  {
	width: 880px;
	align-items: center;
}
/* ======================================== withdraw (회원탈퇴) ======================================== */
.withdraw_wrap > div:nth-child(1) {
	font-size: 19px;
	color: #111;
	margin: 10px 0px 15px 0px;
}
.withdraw_wrap > div:nth-child(2) {
	font-size: 12px;
	color: #666666;
}
.withdraw_wrap > div:nth-child(2) > div {
	margin: 10px 0;
}
.withdraw_fs {
	display: flex;
	padding: 25px;
	font-size: 13px;
	color: #111111;
}
.withdraw_fs > input {
	margin-bottom: 23px;
}
#memberDeleteForm > p {
	font-size: 15px;
	font-weight: bold;
	color: #111111;
}
#memberDeleteForm > button {
	width: 70px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
/* ======================================== withdraw ======================================== */

/* ======================================== myinfo (개인정보수정) ======================================== */
.myinfo_main {
	width: 800px;
	height: 500px;
	margin: auto;
}
.myinfo_main > div:nth-child(1) {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.myinfo_main > div:nth-child(2) {
	border-top: 2px solid black;
}
.myinfo_main > div:nth-child(2) > p {
	border-bottom: 1px solid #dadada;
}
.myinfo_main > div:nth-child(1) > div:nth-child(1) {
	font-weight: bold;
	font-size: 20px;
}
.myinfo_main > div:nth-child(1) > div:nth-child(2) {
	font-size: 12px;
}
.myinfo_table {
	border-collapse: collapse;
}
.myinfo_table_tr {
	height: 50px;
	font-size: 12px;
}
.myinfo_last_tr {
	height: 80px;
}
.myinfo_table_tr > th {
	text-align: left;
	width: 150px;
	background-color: #f5f5f5;
	padding-left: 10px;
}
.myinfo_table_tr > td {
	padding-left: 20px;
}
.myinfo_submit {
	text-align: center;
}
.myinfo_submit > input {
	width: 70px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
	cursor: pointer;
}
/* ======================================== myinfo ======================================== */

/* ======================================== counsel (1:1문의) ======================================== */
.counsel_modal {
	display: none;
}
.counsel_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 70%;
	z-index: 5;
}
.counsel_content {
	position: absolute;
	z-index: 6;
	width: 700px;
	height: 440px;
	justify-content: center;
	align-items: center;
	background-color: white;
	overflow: auto;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	border: 1px solid black;
}
.counsel_hidden {
	display: none;
}
.counsel_content > div:nth-child(1) {
	font-weight: bold;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid gray;	
}
.counsel_close {
	cursor: pointer;
}
.counsel_submit {
	text-align: center;
	margin-bottom: 0;
    margin-top: 25px;
}
.counsel_submit > input {
	width: 70px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
	cursor: pointer;
}
.counsel_form {
	padding: 24px 50px;
	width: 600px;
}
.counsel_table {
	border-collapse: collapse;
}
.counsel_tr {
	height: 50px;
	border: 1px solid black;
	font-size: 12px;
}
.counsel_tr > th {
	text-align: left;
	width: 150px;
	background-color: #f5f5f5;
	padding-left: 10px;
}
.counsel_tr > td {
	padding-left: 20px;
}
.ask_wrap > .item {
	margin: 20px auto;
	width: 900px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #dadada;
	cursor: pointer;
}
.ask_wrap > .item > .askType {
	width: 150px;
	height: 50px;
	text-align: center;
	padding-top: 13px;
	font-weight: bold;
}
.ask_wrap > .item > .title {
	width: 450px;
	height: 50px;
	padding-top: 15px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ask_wrap > .item > .writeDate {
	height: 50px;
	padding-top: 13px;
	color: #dadada;
	font-weight: bold;
}
.ask_wrap > .item > .waiting {
	height: 50px;
	padding-top: 13px;
	color: red;
	font-weight: bold;
}
.ask_wrap > .item > .direction {
	height: 50px;
	padding-top: 13px;
	padding-right: 10px;
}
.askList_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 70%;
	z-index: 5;
}
.askList_content {
	position: absolute;
	z-index: 6;
	width: 750px;
	height: auto;
	justify-content: center;
	align-items: center;
	background-color: white;
	overflow: auto;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	border: 2px solid black;
}
.askList_hidden {
	display: none;
}
.askList_top {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
.askList_top > .askType {
	width: 150px;
	height: 35px;
	text-align: center;
	padding-top: 13px;
	font-weight: bold;
}
.askList_top > .title {
	width: 440px;
	height: 35px;
	padding-top: 15px;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.askList_top > .writeDate {
	height: 35px;
	padding-top: 13px;
	font-weight: bold;
	padding-right: 10px;
}
.askList_mid > .content {
	border: 1px solid #dadada;
	width: 650px;
	height: 220px;
	margin: auto;
	padding: 10px;
	font-size: 13px;
	color: #666666;
	word-break: break-word;
}
.askList_bottom {
	display: flex;
	justify-content: space-between;
}
.askList_bottom > .btn {
	margin: 20px;
	width: 92px;
    height: 36px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.rightArea > .ask_button {
    width: 92px;
    height: 36px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
/* ======================================== counsel ======================================== */

/* ======================================== review (리뷰) ======================================== */
.review_modal {
	display: none;
}
.review_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 70%;
	z-index: 5;
}
.review_content {
	position: absolute;
	z-index: 6;
	width: 548px;
	height: 600px;
	justify-content: center;
	align-items: center;
	background-color: white;
	overflow: auto;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	border: 1px solid black;
}
.review_hidden {
	display: none;
}
.review_content > div:nth-child(1) {
	font-weight: bold;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid gray;	
}
.review_close {
	cursor: pointer;
}
.review_content > div:nth-child(2) {
	margin: 20px 15px;
	display: flex;
}
.review_content > div:nth-child(2) > div:nth-child(2) {
	margin: auto;
	font-weight: bolder;
}
.review_content > div:nth-child(3) {
	margin: 35px 25px;
	text-align: center;
	background-color: #f3f3f3;
	height: 100px;
	padding-top: 30px;
}
.review_content > div:nth-child(3) > div:first-child {
	margin: 10px 0;
}
.review_content > div:nth-child(3) {
	margin: 35px 25px;
	text-align: center;
	background-color: #f3f3f3;
	height: 100px;
}
.review_item_check {
	margin: 35px 25px;
}
.review_item_click {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.review_item_click > p {
	width: 170px;
}
.review_item_check > div:nth-child(1) {
	font-weight: bold;
	font-size: 15px;
}
.review_item_click > div {
	border: 1px solid;
	width: 125px;
	height: 30px;
	text-align: center;
	padding-top: 8px;
	border-radius: 5px;
	cursor: pointer;
	color : black;
}
.review_item {
	margin: 35px 25px;
	text-align: center;
}
.review_item > div:nth-child(1) {
	font-weight: bold;
	font-size: 15px;
	margin: 10px 0;
}
.review_submit {
	text-align: center;
	padding-bottom: 20px;
}
.review_submit > input {
	width: 92px;
    height: 36px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.review_write > button {
    margin: 23px;
    width: 70px;
    height: 36px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.review_itemList {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	padding-top: 4px;
}
.productImg > img {
	width: 80px;
	height: 80px;
	margin: 0 20px;
	border: 1px solid #cdcdcd
}
.productIdx {
	text-align: center;
    margin-top: 30px;
}
.productIdx > a {
	color: #b7b7b7;
	border-bottom: 1px solid;
	font-size: 20px;
}
.productName {
	margin-top: 10px;
	font-weight: bold;
	margin: auto;
}
.review_starTitle {
	text-align: center;
    width: 481px;
    height: 100px;
    margin: auto;
    background-color: #f3f3f3;
}
.review_starTitle > div:nth-child(1) {
	font-weight: bold;
	padding-top: 20px;
}

/* 별점 */
.star {
	position: relative;
	font-size: 2rem;
	color: #ddd;
}
.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}
.star span {
	width: 0;
	position: absolute; 
	left: 0;
	color: red;
	overflow: hidden;
	pointer-events: none;
}

/* label 커스텀 */
.review_ladel input[type="radio"] {
    display: none;
}
.review_ladel input[type="radio"] + span {
    display: inline-block;
    padding: 7px 25px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
}
.review_ladel input[type="radio"]:checked + span {
    border: 2px solid red;
    font-weight: bold;
}
/* ======================================== review ======================================== */

/* ======================================== agree (개인정보 이용내역) ======================================== */
.agree_pTag {
	font-size: 15px;
	font-weight: bold;
}
.agree_divTag {
	font-size: 12px;
	color: #666666;
}
.agree_table {
	width: 909px;
	height: auto;
    margin-top: 20px;
	border: 1px solid #cdcdcd;
    border-collapse: collapse;
}
.agree_table_tr > td, .agree_table_tr > th {
	text-align: center;
	height: 50px;
	border: 1px solid #cdcdcd;
}
.agree_table_tr > th {
	background-color: #f5f5f5;
	font-size: 14px;
	font-weight: bold;
}
.agree_table_tr > td {
	font-size: 13px;
	color: #666666;
}
.agree_table_tr2 > td {
	font-size: 13px;
	color: #666666;
	width: 0;
	text-align: center;
	height: 50px;
	border: 1px solid #cdcdcd;
}
/* ======================================== agree ======================================== */